@use "../variables";

.button {
    text-decoration: none;
    background-color: variables.$corBotao;
    font-size: 18px;
    padding: 10px;
    height: 40px;
    margin-left: 30px;
    font-weight: bold;
    color: #000;
    white-space: nowrap;
    text-align: center;

    @media (max-width: 640px) {
        margin-left: 0;
        width: 80%;
        text-align: center;
    }
}