@use "variables";

.hero {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    padding-top: 190px;
    position: relative;

    .container {
        position: relative;
    }

    &__text {
        font-size: 40px;
        max-width: 500px;
        font-weight: normal;
        text-align: center;
        margin: 0 auto;
        color: variables.$corTextoPrincipal;
        line-height: 56px;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: variables.$corTextoSecundario;
        content: '';
        opacity: 0.6;
    }

    @media (max-width: 640px) {
        height: 100vh;

        &__text {
            font-size: 24px;
            line-height: 36px;

        }
    }
}